<!DOCTYPE html>
<html>
<head>
    <base target="_top">
    <link href="https://cdn.muicss.com/mui-0.10.3/css/mui.min.css" rel="stylesheet" type="text/css"/>
    <script src="https://cdn.muicss.com/mui-0.10.3/js/mui.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
</head>
<style>
    .bg-darkgreen {
        color: forestgreen;
    }

    .bg-darkred {
        color: indianred;
    }
</style>
<body>
<script>
    const urlParams = new URLSearchParams(window.location.search);
    const candidate = JSON.parse(unescape(urlParams.get('candidate')));
    // document.body.innerText = JSON.stringify(candidate)

</script>

<div class="mui-container-fluid">
    <div class="mui-col-sm-10 mui-col-sm-offset-1">
        <div class="mui-panel">
            <div>
                <div class="mui--text-title"> User Name: {{candidate['name']}}</div>
                <div class="mui--text-title"> Job Profile: {{candidate['job_profile']}}</div>
                <hr>
            </div>
            <div class="mui--text-display1"> Screener Summary</div>
            <p class="mui--text-title mui--text-left {{'bg-darkgreen' if candidate['score'] > 0.5 else 'bg-darkred'}}">
                <b>{{ 'Good Fit' if candidate['score'] > 0.5 else 'Not a Good Fit'}}!</b>
            </p>
            {% if is_hr == True %}
            <p class="mui--text-title mui--text-left {{'bg-darkgreen' if candidate['score'] > 0.5 else 'bg-darkred'}} ">
                <b>Score: {{ (candidate['score']*100) | round}}% </b>
            </p>

            <input id="skillRadarData" type="hidden" value="{{candidate_fit}}" readonly>
            <div id="skillRadar"></div>
            <hr>
            {% endif %}
            <div class="mui--text-title"> Behavioral Questions Feedback:</div>
            <table class="mui-table">
                <thead>
                <tr>
                    <!--                    <th>Question Number</th>-->
                    <th>Behavioral Question</th>
                    <th>Behavioral Answer</th>
                    <th>sentiment</th>
                <tr>
                </thead>
                <tbody>
                {% for question in candidate['behavioral_questions'] %}
                <tr>
                    <!--                    <td>{{loop.index0+1}}</td>-->
                    <td>{{ question['question'] }}</td>
                    <td>{{ candidate['behavioral_answers'][loop.index0] }}</td>
                    <td>{{ candidate['behavioral_sentiments'][loop.index0] }}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
            <br><br>
            <div id="skillMap"></div>
            <input id="skillSeries" type="hidden" value="{{skills_in_demand}}" readonly>
            <div class="mui--text-title"> Job Recommendation:</div>
            <table class="mui-table">
                <thead>
                <tr>
                    <!--                    <th>Match Number</th>-->
                    <th>Job Title</th>
                    <th>Relevance Score</th>
                <tr>
                </thead>
                <tbody>
                {% for job in candidate['job_matches'] %}
                <tr>
                    <!--                    <td>{{loop.index0+1}}</td>-->
                    <td>{{ job['title'] }}</td>
                    <td>{{loop.index0+1}}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
            <br><br>
            <script>
                data = JSON.parse(document.getElementById('skillSeries').value)
                seriesData = []
                for (let key in data) {
                    seriesData.push({x: key, y: data[key]})
                }

                var options = {
                    series: [
                        {
                            data: seriesData,
                            // data: [
                            //     {
                            //         x: 'Java',
                            //         y: 218
                            //     },
                            //     {
                            //         x: 'Python',
                            //         y: 149
                            //     },
                            //     {
                            //         x: 'NLP',
                            //         y: 184
                            //     },
                            //     {
                            //         x: 'Development',
                            //         y: 55
                            //     },
                            //     {
                            //         x: 'Management',
                            //         y: 84
                            //     },
                            //     {
                            //         x: 'SQL',
                            //         y: 31
                            //     },
                            //     {
                            //         x: 'Javascript',
                            //         y: 70
                            //     },
                            //     {
                            //         x: 'NodeJs',
                            //         y: 30
                            //     },
                            //     {
                            //         x: 'Big Data',
                            //         y: 44
                            //     }
                            // ]
                        }
                    ],
                    legend: {
                        show: false
                    },
                    chart: {
                        height: 350,
                        type: 'treemap'
                    },
                    title: {
                        text: 'Skills in demand'
                    }
                };
                console.log(options)
                var chart = new ApexCharts(document.querySelector("#skillMap"), options);
                chart.render();


                fit_data = JSON.parse(document.getElementById('skillRadarData').value)
                var options = {
                    chart: {
                        height: 350,
                        type: 'radar',
                    },
                    title: {
                        text: 'Candidate Fit'
                    },
                    series: [{
                        name: 'Series 1',
                        // data: [60, 70, 100, 100, 0],
                        data: fit_data
                    }],
                    xaxis: {
                        // categories: ['Technical', 'Behavior', 'Management', 'Location', 'Experience', 'SystemMatch']
                        categories: ['Education', 'Region', 'Experience', 'Skills', 'Behavioral Score']
                    },
                    yaxis: {
                        show: false,
                    }
                };

                var chart = new ApexCharts(document.querySelector("#skillRadar"), options);
                chart.render();

            </script>
        </div>
    </div>
</div>
</body>
</html>
