<!DOCTYPE html>
<html>
<head>
    <base target="_top">
    <link href="https://cdn.muicss.com/mui-0.10.3/css/mui.min.css" rel="stylesheet" type="text/css"/>
    <script src="https://cdn.muicss.com/mui-0.10.3/js/mui.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
</head>

<body>
<script>
    const urlParams = new URLSearchParams(window.location.search);
    const candidate = JSON.parse(unescape(urlParams.get('candidate')));
    // document.body.innerText = JSON.stringify(candidate)

</script>

<div class="mui-container-fluid">
    <div class="mui-col-sm-10 mui-col-sm-offset-1">
        <div class="mui-panel">
            <div>
                <div class="mui--text-title"> User Name: {{candidate['name']}}</div>
                <div class="mui--text-title"> Job Profile: {{candidate['job_profile']}}</div>
                <hr>
            </div>
            <div class="mui--text-display1"> Screener Summary</div>
            <p style="color:forestgreen;" class="mui--text-title mui--text-left"> <b>Good Fit!</b></p>
            <p style="color:forestgreen;" class="mui--text-title mui--text-left"> <b>Score: 80%</b></p>
            <br><br>
            <div class="mui--text-title"> Job Matches:</div>
            <table class="mui-table">
                <thead>
                <tr>
                    <th>Match Number</th>
                    <th>Job Description</th>
                <tr>
                </thead>
                <tbody>
                {% for job in candidate['job_matches'] %}
                <tr>
                    <td>{{loop.index0+1}}</td>
                    <td>{{ job }}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>

            <div class="mui--text-title"> Behavioral Questions:</div>
            <table class="mui-table">
                <thead>
                <tr>
                    <th>Question Number</th>
                    <th>Behavioral Question</th>
                    <th>Behavioral Answer</th>
                    <th>sentiment</th>
                <tr>
                </thead>
                <tbody>
                {% for question in candidate['behavioral_questions'] %}
                <tr>
                    <td>{{loop.index0+1}}</td>
                    <td>{{ question['question'] }}</td>
                    <td>{{ candidate['behavioral_answers'][loop.index0] }}</td>
                    <td>{{ candidate['behavioral_sentiments'][loop.index0] }}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
            <br><br>
            <div class="mui--text-title"> Job Recommendation</div>
            TODO Add Beautiful Job Recommendations
            <br><br>
            <div class="mui--text-title"> Visualizations</div>
            TODO Add Beautiful visualizations
            <br><br>
            <div id="skillMap"></div>
            <div id="skillRadar"></div>
            <script>
                var options = {
                    series: [
                        {
                            data: [
                                {
                                    x: 'Java',
                                    y: 218
                                },
                                {
                                    x: 'Python',
                                    y: 149
                                },
                                {
                                    x: 'NLP',
                                    y: 184
                                },
                                {
                                    x: 'Development',
                                    y: 55
                                },
                                {
                                    x: 'Management',
                                    y: 84
                                },
                                {
                                    x: 'SQL',
                                    y: 31
                                },
                                {
                                    x: 'Javascript',
                                    y: 70
                                },
                                {
                                    x: 'NodeJs',
                                    y: 30
                                },
                                {
                                    x: 'Big Data',
                                    y: 44
                                }
                            ]
                        }
                    ],
                    legend: {
                        show: false
                    },
                    chart: {
                        height: 350,
                        type: 'treemap'
                    },
                    title: {
                        text: 'Skills Demand'
                    }
                };
                console.log(options)
                var chart = new ApexCharts(document.querySelector("#skillMap"), options);
                chart.render();


                var options = {
                    chart: {
                        height: 350,
                        type: 'radar',
                    },
                    title: {
                        text: 'Candidate Fit'
                    },
                    series: [{
                        name: 'Series 1',
                        data: [60, 70, 100, 100, 100, 0],
                    }],
                    xaxis: {
                        categories: ['Technical', 'Behavior', 'Management', 'Location', 'Experience', 'SystemMatch']
                    }
                };

                var chart = new ApexCharts(document.querySelector("#skillRadar"), options);
                chart.render();

            </script>
        </div>
    </div>
</div>
</body>
</html>
